<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid #000; /* 테두리 스타일 지정 */
        }
    </style>
    <title>Data View</title>
</head>
<body>
    <h1>Data View</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birth</th>
                <th>Call</th>
                <!-- 여기에 데이터 모델에 따른 추가 열 제목 추가 -->
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.user_id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.birth }}</td>
                    <td>{{ item.call }}</td>
                    <!-- 데이터 모델에 따른 추가 열 값 추가 -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
