<!DOCTYPE html>
<html>
<body>

    <form method="POST" action="/saveriderog">

        <label for="email_input">아이디:</label>
        <input type="text" id="email_input" name="email_input" required><br>

        <label for="date_input">운행 날짜 시각:</label>
        <input type="text" id="date_input" name="date_input" required><br>

        <label for="distance_input">운행 거리:</label>
        <input type="text" id="distance_input" name="distance_input" required><br>
        
        <label for="runtime_input">운행 시간:</label>
        <input type="text" id="runtime_input" name="runtime_input" required><br>
        
        <label for="cost_input">운행 금액:</label>
        <input type="text" id="cost_input" name="cost_input" required><br>
        
        <input type="submit" value="운행기록 저장">
    </form>

</body>
</html>